html{
    scroll-behavior: smooth;
}
body{
    overflow-x:hidden;
    color:black;
  }

h1{
    font-family: 'Megrim';
    font-size: 180px;
    
}
.pomme{
    position: absolute;
    top: 30px;
    left: 30px;
}
.patate1{
    position: absolute;
    top: 0px;
    right:0px;
    z-index:0;
    animation: wave 12s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0); 
}
#patateun{
    animation: wave 10s cubic-bezier( 0.37, 0.45, 0.65, 0.56)  infinite, swell 17s ease -0.55s infinite;
    opacity: 1;
    
} 
#patatedeux{
    animation: wave 15s cubic-bezier( 0.38, 1.44, 0.65, 0.56) infinite, swell 14s ease -1.85s infinite;
    opacity: 1;
    
} 
.patate2{
    position: absolute;
    bottom: 0px;
    right:0px;
}



.un{
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.firstname{
    position: relative;
    margin-right: 250px;
    top:100px;
    z-index: 3;
}
.lastname{
  position: relative;
  margin-right: 265px;   
  Bottom:180px
}
.dev{
    position: relative;
    margin-right:265px;
    bottom:350px
    
}
.container1 > div > h2{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
}
.navbar{
    display: flex;
    align-items:baseline;
    flex-direction: column;
    margin-left: 20px;
    position: absolute;
    bottom: 10px;
   
}
.navbar > li {
    font-family: 'Alegreya Sans';
    font-size: 24px;
    list-style: none;
    height: 35px;
    color:rgb(0, 0, 0);
}
.navbar > li > a{
    text-decoration-line: none;
    text-decoration-color:black;
    color: black;
}
.navbar > li > a:hover{
    border-left: #E4C3B6 2px solid;
}
/*---------------------------------------------------------------------*/
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container2 > h2{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
}
.p1{
    width: 50em;
    height: 30em;
    box-sizing: border-box;
}
.container2 > .p1 > p {
    font-family: 'Alegreya Sans';
    font-size: 100;
    font-size: 32px; 
}
.vide{
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    right: 0px;
}

/*----------------------------------------------------------------------*/

.portfo{
    display: inherit;
    width: 50%;
    height: 100vh;
    justify-content: inherit;
    align-items: inherit;
    position: absolute;
    left:0px;
    background-color: #E4C3B6;
;
}
.portfo> h2{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 20px;
}
.cercle{
    position: absolute;
    left:40px;
    top:150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid aliceblue;
    animation: 1s linear infinite alternate boxMagic,
               7s linear infinite spinning;
    padding-top:3px;
}
@keyframes boxMagic{
    from{
        box-shadow:
        0 0 0 #feac5e,
        0 0 0 #c779d0,
        0 0 0 #4bc0c8,
        0 0 0 #42db75;
    }
    to{
        box-shadow: 
        0 -2px 0 #feac5e,
        -2px 0 0 #c779d0,
        0 2px 0 #4bc0c8,
        2px 0 0 #42db75;
    }
}
@keyframes spinning{
 from {
     transform: rotate(0deg);
 }
 to{
     transform: rotate(360deg);
 }
}
.portfo > a{
  text-decoration: none;
  text-decoration-color: black;
  color:black;
  padding:5px;
  position: absolute;
  left:100px;
  top:163px;
  font-family: 'Alegreya Sans';
  
}
.modal{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: inherit;
  width: 100%;
  height: 100vh;
  justify-content: inherit;
  align-items: inherit;
  left:0px;
  background: rgba(77,77,77,.3);
  transition: .3s;
}
.modal:target{
    visibility: visible;
    opacity: 1;
}
.modal_content{
  padding: 1.5em 2em;
  width: 500px;
  max-width: 90%;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.modal_content > img {
    width: 500px;
}
.modal_content > h2 {
    font-family: 'Alegreya Sans Sc';
}
.modal_content > p{
    font-family: 'Alegreya Sans';
}
.modal_close{
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
}
.portfo2{
  display: inherit;
  width: 50%;
  height: 100vh;
  justify-content: inherit;
  align-items: inherit;
  position: absolute;
  left:50%;
}

.vide2{
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    right: 200px;
}
/*----------------------------------------------------------------------*/
.patate4{
    position: absolute;
    top:0px;
    left: 0px;
}
.patate5{
    position: absolute;
    bottom: 0px;
    left:300px
}
.patate6{
    position: absolute;
    top: 0px;
    right: 0px;
}

div >.bbox >.contact{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
    position: absolute;
    top:50px;
}
.container5{
    background-image: url("cadre_contact.svg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: center;
    width:45vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;


}
div > .container5 > .adresse{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
    margin:0;
}
div > .container5 > .adresse2{
    font-family:'Alegreya Sans';
    font-weight:100;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
div > .container5 > .telephone{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
    margin: 0;
}
div > .container5 > .telephone2{
    font-family:'Alegreya Sans';
    font-weight:100;
    font-size: 24px;
    margin: 0;
}
div > .container5 > .mail{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
    margin: 0;
}
div > .container5 > .mail2{
    font-family:'Alegreya Sans';
    font-weight:100;
    font-size: 24px;
    text-align: center;
    margin-bottom: 110px;
    margin-top: 0;
}
.vide3{
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    right: 0px;
}
/*----------------------------------------------------------------------*/
  #page {
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#CCC;
    display:flex;
    flex-wrap:no-wrap;
  }
  .pane {
    flex:0 0 100vw;
    height:100vh;
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    background-color: #ffff;
  }
  
  .pane:nth-child(4n+2)  {
    background-color: white;
  }
  .pane:nth-child(4n+3)  {
    background-color: white;
  }
  .pane:nth-child(4n+4)  {
    background-color: white;
  }
  

  /*
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Megrim', cursive; 
*/

@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -100px;
    }
  }
@keyframes swell {
    0%, 100% {
      transform: translate3d(0,-150px,0);
    }
    50% {
      transform: translate3d(0,1px,0);
    }
  }
 