html{
    scroll-behavior: smooth;
}
body{
    overflow-x:hidden;
    color:black;
}
h1{
    font-family: 'Megrim';
    font-size: 180px;  
}
.pomme{
    position: absolute;
    top: 30px;
    left: 30px;
}
.patate1{
    position: absolute;
    top: 0px;
    right:0px;
    z-index:0; 
}
.patate2{
    position: absolute;
    bottom: 0px;
    right:0px;
}
.un{
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.firstname{
    position: relative;
    margin-right: 250px;
    top:100px;
    z-index: 3;
}
.lastname{
  position: relative;
  margin-right: 265px;   
  Bottom:180px
}
.dev{
    position: relative;
    margin-right:265px;
    bottom:350px   
}
.container1 > div > h2{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
}
.navbar{
    display: flex;
    align-items:baseline;
    flex-direction: column;
    margin-left: 20px;
    position: absolute;
    bottom: 10px;  
}
.navbar > li {
    font-family: 'Alegreya Sans';
    font-size: 24px;
    list-style: none;
    height: 35px;
    color:rgb(0, 0, 0);
}
.navbar > li > a{
    text-decoration-line: none;
    text-decoration-color:black;
    color: black;
}
.navbar > li > a:hover{
    border-left: #E4C3B6 2px solid;
}
/*---------------------------------------------------------------------*/
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2 > h2{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
}
.p1{
    width: 50em;
    height: 30em;
    box-sizing: border-box;
}
.container2 > .p1 > p {
    font-family: 'Alegreya Sans';
    font-size: 32px; 
}
.vide{
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    right: 0px;
}
/*----------------------------------------------------------------------*/
.portfo{
    display: inherit;
    width: 50%;
    height: 100vh;
    border-radius: 0%;
    justify-content: inherit;
    align-items: inherit;
    position: absolute;
    left:0px;
    background-color: #e4c3b6;
    display: flex;
}
.portfo> h2{
    font-family:'Alegreya Sans SC';
    font-weight:100;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 80px;
}
.patate3{
  position: absolute;
  z-index: 3;
}
.portfo > .projet1{
  text-decoration: none;
  text-decoration-color: black;
  color:black;
  padding:5px;
  font-family: 'Alegreya Sans';
  transition: .2s;
  position: absolute;
  top:250px
}
.projet1:hover{
    font-size:17Px ;
}
.modal{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: inherit;
  width: 100%;
  height: 100vh;
  justify-content: inherit;
  align-items: inherit;
  left:0px;
  background: rgba(77,77,77,.3);
  transition: .3s;
  z-index: 1;
}
.modal:target{
    visibility: visible;
    opacity: 1;
}
.modal_content{
  padding: 1.5em 2em;
  width: 500px;
  max-width: 90%;
  text-align: center;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background-color: whitesmoke;
}
.modal_content > img {
    width: 500px;
}
.modal_content > h2 {
    font-family: 'Alegreya Sans Sc';
}
.modal_content > p{
    font-family: 'Alegreya Sans';
}
.modal_close{
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
}
.portfo > .projet2{
    text-decoration: none;
    text-decoration-color: black;
    color:black;
    padding:5px;
    position: absolute;
    font-family: 'Alegreya Sans';
    transition: .2s;
    position: absolute;
    top:350px
  }
  .projet2:hover{
    font-size:17Px ;
}
  .modal1{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: inherit;
    width: 100%;
    height: 100vh;
    justify-content: inherit;
    align-items: inherit;
    left:0px;
    background: rgba(77,77,77,.3);
    transition: .3s;
    z-index: 1000;
  }
  .modal1:target{
      visibility: visible;
      opacity: 1;
  }
  .modal_content1{
    padding: 1.5em 2em;
    width: 500px;
    max-width: 90%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    background-color: whitesmoke;
  }
  .modal_content1 > img {
      width: 500px;
  }
  .modal_content1 > h2 {
      font-family: 'Alegreya Sans Sc';
  }
  .modal_content1 > p{
      font-family: 'Alegreya Sans';
  }
  .portfo > .projet3{
    text-decoration: none;
    text-decoration-color: black;
    color:black;
    padding:5px;
    position: absolute;
    top:450px;
    font-family: 'Alegreya Sans';
    transition: .2s;
  }
  .projet3:hover{
    font-size:17Px ;
}
  .modal2{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: inherit;
    width: 100%;
    height: 100vh;
    justify-content: inherit;
    align-items: inherit;
    left:0px;
    background: rgba(77,77,77,.3);
    transition: .3s;
    z-index: 1000;
  }
  .modal2:target{
      visibility: visible;
      opacity: 1;
  }
  .modal_content2{
    padding: 1.5em 2em;
    width: 500px;
    max-width: 90%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    background-color: whitesmoke;
  }
  .modal_content2 > img {
      width: 500px;
  }
  .modal_content2 > h2 {
      font-family: 'Alegreya Sans Sc';
  }
  .modal_content2 > p{
      font-family: 'Alegreya Sans';
  }
  .portfo > .projet4{
    text-decoration: none;
    text-decoration-color: black;
    color:black;
    padding:5px;
    position: absolute;
    top:550px;
    font-family: 'Alegreya Sans';
    transition: .2s; 
  }
  .projet4:hover{
    font-size:17Px ;
}
  .modal3{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: inherit;
    width: 100%;
    height: 100vh;
    justify-content: inherit;
    align-items: inherit;
    left:0px;
    background: rgba(77,77,77,.3);
    transition: .3s;
    z-index: 1000;
  }
  .modal3:target{
      visibility: visible;
      opacity: 1;
  }
  .modal_content3{
    padding: 1.5em 2em;
    width: 500px;
    max-width: 90%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    background-color: whitesmoke;
  }
  .modal_content3 > img {
      width: 500px;
  }
  .modal_content3 > h2 {
      font-family: 'Alegreya Sans Sc';
  }
  .modal_content3 > p{
      font-family: 'Alegreya Sans';
  }
.portfo2{
  display: inherit;
  width: 50%;
  height: 100vh;
  justify-content: inherit;
  align-items: inherit;
  position: absolute;
  left:50%;
}
.portfo2::after{
    content: "";
    height: 100vh;
    width: 20px;
    left: 15px;
    background-color:#e4c3b6;
    position: absolute;
}
.portfo2::before{
    content: "";
    height: 100vh;
    width: 5px;
    left: 40px;
    background-color:#e4c3b6;
    position: absolute;
}
.competence{
  transform: translateY(-45vh);
  font-family:'Alegreya Sans Sc';
}
.langage>.css{
  height: 11.85vh;
  width: 2.94vw;
}
.langage>.html{
  height: 8vh;
  width: 5vw;
  transform: translateY(-25px);
}
.langage>.js{
  height: 8vh;
  width: 5vw;
  transform: translateY(-25px);
}
.github{
  position: absolute;
  bottom: 10px;
  transform: translateX(-50px) ;
}
.git:hover{
  width: 55px;
  height: 55px;
}
.link:hover{
  width: 35px;
  height: 35px;
}
.linkedin{
  position: absolute;
  bottom:10px;
  transform: translateX(50px);
}
.vide2{
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    right: 200px;
}
/*----------------------------------------------------------------------*/
.patate4{
    position: absolute;
    top:0px;
    left: 0px;
    height: 20vh;
    width: 20vw;
}
.patate5{
    position: absolute;
    bottom: 0px;
    left:300px;
    height: 10vh;
    width: 16vh;
}
.patate6{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30vh;
    width: 30vw;
}
.container5{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bbox{
  position: absolute;
  top:10px;
  left: 350px;
}

section>.bbox>h2{
  font-family:'Alegreya Sans Sc';
}
.cadre{
  width: 50vw;
  height: 74vh;
  position: relative;
}
section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cadreContain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  position: absolute;
  gap: 10px;
}
section>div>.cadreContain>h2{
  font-family:'Alegreya Sans Sc' ;
  height: 4vh;
  width: 6vw;
  margin: 0;
}
section>div>.cadreContain>p{
  font-family: 'Alegreya Sans';
  margin: 0;
}
.mail2{
padding-left: 10px;
}
.vide3{
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    right: 0px;
}
/*----------------------------------------------------------------------*/
  #page {
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#CCC;
    display:flex;
    flex-wrap:no-wrap;
  }
  .pane {
    flex:0 0 100vw;
    height:100vh;
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    background-color: #ffff;
  }
  .pane:nth-child(4n+2)  {
    background-color: white;
  }
  .pane:nth-child(4n+3)  {
    background-color: white;
  }
  .pane:nth-child(4n+4)  {
    background-color: white;
  }

 